.about{
    width: 80vw;
    border-radius: 10px;
    height: auto;
    min-height: 35px;
    max-width: 750px;
    padding: 6px;
    background-color: rgb(233, 233, 233);
}
.following{
    width: justify;
    height: auto;
    background-color: lightblue;
    border-radius: 10px;
    padding: 5px;
    border: none;
    color: white;
}
.following:hover{
    background-color: rgb(233, 233, 233);
    color: black;
}
.not_following{
    width: justify;
    height: auto;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
    color: black;
}