{% extends "layout2.html" %}

<meta name="viewport" content="initial-scale=1, width=device-width">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% block body %}
{% if message %}
<center><p style="width: 500px; height: 50px; border-radius: 15px; text-align: center; background-color: rgba(255, 134, 134, 0.9)">{{message}}</p></center>
{% endif %}
<script>
     function validateEmail(email) {
          var re = /\S+@\S+\.\S+/;
          return re.test(email);
     }
     function request_code(username, email) {
          let url = window.location.origin
          let request = new XMLHttpRequest();
          var csrftoken = '{{ csrf_token }}';
          var formdata = new FormData()
          formdata.append("username", username)
          formdata.append("csrftoken", csrftoken)
          formdata.append("email", email)
          request.open("POST", url + "/request_code")
          request.setRequestHeader("X-CSRFToken", csrftoken); 
          request.send(formdata)
          request.onload = () => {
               if (request.responseText == "0"){
                    console.log("0")
                    return 0;
               }
               else if (request.responseText == "1"){
                    console.log("1")
                    return 1;
               }
               else if (request.responseText == "2"){
                    console.log("2")
                    return 2;
               } else {
                    return 3;
               }
          }
     }
     function check_otp(username, password, first_name, last_name, email, otp){
          let url = window.location.origin
          let request = new XMLHttpRequest();
          let formdata = new FormData()
          formdata.append("username", username)
          formdata.append("password", password)
          formdata.append("first_name", first_name)
          formdata.append("last_name", last_name)
          formdata.append("email", email)
          formdata.append("otp", otp)
          request.open("POST", url + "/check_otp")
          request.send(formdata)
          request.onload = () => {
               console.log(request.responseText)
               if (request.responseText == "0"){
                    return 0;
               } else if (request.responseText == "1"){
                    return 1;
               } else if (request.responseText == "2"){
                    return 2;
               } else {
                    return 3;
               }
          }
     }
     function confirm(){
          let verify = document.getElementById('verify')
          let details = document.getElementById('details')
          let first_name = document.getElementById('first_name').value
          let last_name = document.getElementById('last_name').value
          let email = document.getElementById('email').value
          let username = document.getElementById('username').value
          let password = document.getElementById('password').value
          let confirm_password = document.getElementById('password_confirm').value
          let details_message = document.getElementById('details_message')

          if (first_name == "" || last_name == "" || email == "" || password == "" || confirm_password == "" || username == ""){
               details_message.innerHTML = "Please Fill in All fields"
          } else if (password != confirm_password) {
               details_message.innerHTML = "Password Does Not Match Confirmation"
          } else if (validateEmail(email) == false){
               details_message.innerHTML = "Invalid Email"
          } else{
               let status = request_code(username, email)
               console.log(status)
               if (status == 0){
                    details.style.display = "none"
                    verify.style.display = "block"
               } else if (status == 1){
                    details_message.innerHTML = "Username Is Unavailable"
               } else if (status == 2){
                    details_message.innerHTML = "Email Is In use by another account"
               }
               else {
                    alert("An Error occurred")
               }
          }
     }
     function confirm_otp(){
          let sign_up = document.getElementById('submit_block')
          let verify = document.getElementById('verify')
          let otp = document.getElementById("otp").value;
          let username = document.getElementById('username').value
          let password = document.getElementById('password').value
          let first_name = document.getElementById('first_name').value
          let last_name = document.getElementById('last_name').value
          let email = document.getElementById('email').value
          let verify_message = document.getElementById('verify_message')

          if (otp == ""){
               verify_message.innerHTML = "Please Provide Code"
          } else {
               let status = check_otp(username, password, first_name, last_name, email, otp)
               if (status == 0){
                    verify.style.display = "none"
                    sign_up.style.display = "block"
               }
               else if (status == 1){
                    verify_message.innerHTML = "Invalid Code"
               }
               else if (status == 2){
                    verify_message.innerHTML = "Code is expired"
               }
               else{
                    alert("An Error occurred")
               }
          }
     }
</script>
          <section class="u-clearfix u-section-1" id="sec-afdb">
               <div class="u-clearfix u-sheet u-sheet-1">
               <div class="u-form u-login-control u-form-1">
                    <div id="details">
                         {% csrf_token %}
                         <center><h1 id="details_message"></h1></center>
                         <div class="u-form-group u-form-name">
                         <label for="first_name" class="u-label">First Name *</label>
                         <input type="text" name="first_name" placeholder="First Name" id="first_name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
                         </div>
                         <div class="u-form-group u-form-name">
                         <label for="last_name" class="u-label">Last Name *</label>
                         <input type="text" name="last_name" placeholder="Last name" id="last_name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                         </div>
                         <div class="u-form-group u-form-name">
                         <label for="username" class="u-label">Username *</label>
                         <input type="text" name="username" placeholder="Enter your Username" id="username" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
                         </div>
                         <div class="u-form-group u-form-name">
                         <label for="email" class="u-label">Email *</label>
                         <input type="email" name="email" placeholder="Email" id="email" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
                         </div>
                         <div class="u-form-group u-form-password">
                         <label for="password-c4f9" class="u-label">Password *</label>
                         <input type="password" minlength="8" name="password" placeholder="Enter your Password" id="password" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
                         </div>
                         <div class="u-form-group u-form-password">
                         <label for="password-c4f9" class="u-label">Confirm Password *</label>
                         <input type="password" name="confirm" placeholder="Enter your Password" id="password_confirm" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
                         </div>
                         <br>
                         <div class="u-align-center u-form-group u-form-submit">
                              <button id='auth' style="font-size: 60px; color: black; border: 0ch; margin-bottom: 2%; border-radius: 10px 10px 10px 10px;  width: 200px; height: 50px;" onclick="confirm()">Confirm Mail</button>
                         </div>
                    </div>
                    <div id="verify" style="display: none">
                         <center><h1 id="verify_message"></h1></center>
                         <div class="u-align-center u-form-group u-form-submit">
                              <input type="text" name="otp" placeholder="Verification Code" id="otp" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                         </div>
                         <div class="u-align-center u-form-group u-form-submit">
                              <button id='verify_otp' style="font-size: 60px; color: black; border: 0ch; margin-bottom: 2%; border-radius: 10px 10px 10px 10px;  width: 200px; height: 50px;" onclick="confirm_otp()">Verify</button>
                         </div>
                         <br>
                    </div>
                    <div class="u-align-center u-form-group u-form-submit" id="submit_block" style="display: none;">
                         <a href="/"><button  type="submit" id='button' style="font-size: 60px; color: black; border: 0ch; margin-bottom: 2%; border-radius: 10px 10px 10px 10px;  width: 200px; height: 50px;">Sign Up</button></a>
                    </div>
                    <input type="hidden" value="" name="recaptchaResponse">
                    <a href="/login">Have an account? Log in</a>
               </div>
               </div>
          </section>
{% endblock %}